body {
    margin : 0;
    padding : 0;
    background-color : #e0e0e0;
    font-family : Roboto, sans-serif;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    
} 

html {
    scroll-behavior: smooth;
}
li, a {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
}
a {
    color : black;
    transition: all .2s ease;
    position : relative;
}

a:hover {
    transform: scale(1.1);

}
.center {
    display : flex;
    justify-content: space-between;
}


.nav-option li {
    margin-right: 10px;
    margin-left : 20px;
    padding : 5px;
}

ul {
    padding : 0;
    margin : 0 ;
    display : flex;
    align-items: center;
    justify-items: center;


}

.navdiv ul {
    gap : .5rem;
}

.logo-av {
    height : 50px;
    margin-left: .5rem;
}

.logo {
    display : flex;
    align-items : center;
}


.nav-option {
    font-size: 1rem;
    font-weight: 600;

}

.navdiv  i, .navdiv img {
    font-size: 25px;
    /* height : 25px; */
    
}


.navdiv a {
    display : flex;
    align-content : center;
}



.navbar {
    display : flex;
    margin : 30px 10%;
    justify-content: space-between;
    border-radius : 80px;
    padding : 10px 10px;
    backdrop-filter :blur(12px);
    box-shadow: 0px 0px 30px rgba(98, 127, 166, 0.225);
    border: 2px solid rgba(255, 255, 255, 0.496);
     position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    z-index: 1000; /* stays above everything */
}

.navdiv {
    display : flex;
    gap : 10px;
}

.hero {
    margin : 10%;
    margin-top : 270px;

}

.heading {
    font-size: 60px;
}

.description {
    width : 60%;
    opacity : .5;
}

.hero button {
    line-height: 40px;
    border : none;
    color : white;
    background-color : black;
    border-radius: 10px;
    padding : 5px 25px;
    margin-top: 2rem;
    font-weight: bold;
    transition: all .2s ease;
    border: 2px solid black;
    box-shadow: 4px 4px 1px #49698e;
    position: relative;
    overflow: hidden;


}




.noise::before {
    content: "";
    position: fixed;
    inset : 0;
    width: 100%;
    height: 100%;
    background-image: url("./assets/black-paper.png");
    background-size: 200px;
    background-repeat: repeat;
    opacity: 0.5;
}

.hero button::before {
    content : "";
    height : 20px;
    width : 150px;
    background-color : #ffffffa9;
    position : absolute;
    top : 0px;
    left : 110px;
    transform: rotate(45deg);
    z-index: 5;
    transition: all .7s ease;
}

.hero a {
    transform : none;
}

.hero button:hover {
    box-shadow: none;
    transform: translate(4px ,4px);
    /* border: 2px solid black; */

}
.hero button:hover::before {
    left : -140px;
}


span {
    color : #486c95;
    font-size: 3.5rem;
}

.home {
    border-bottom : 3px solid black;
}


.about-me {
    margin : 0 10% 10% ;
}

.about-heading {
    margin: 0px;

}
.scroll-section {
    height: 20vh;

}

.sub-heading {
    opacity: .6;
    font-weight: 300;
    margin-top : 0px;
    margin-bottom : 5rem;
}

.long-desc {
    margin-top : 2rem;
    opacity: .9;
    width : 70%;
}

#extra {
    opacity: 0;
}

code {
    font-size: 1rem;
}

.skills {
    margin : 0 20% 4rem 10%;

}

.skills-container {
    margin-top: -60px;
    background-color: #accbeea4;
    display : grid;
}



.skills-container {
    margin-top : 1rem;
    padding: 0 0 20px 20px;
    border : 3px solid #375981;
    border-radius: 10px;
}

.skills-container h2 {
    margin: 20px 0 15px;
    font-size: 30px;
    letter-spacing: 1px;
}

.badge-group {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 20px;
}

.badge {
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
    cursor: default;
    background: #1f2633;
    border: 1px solid transparent;
    transition: 0.3s;
    margin : 6px 0;
}

.badge:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(255,255,255,0.15);
}

.js { background:#f7df1e; color:#000; }
.html { background:#e44d26; color : #fff}
.css { background:#264de4; color:#fff }
.bootstrap { background:#7952b3; color :#fff }

.c { background-color: #283593; color : #fff}
.cpp{ background-color: #00599C; color : #fff}
.java{ background-color: #E76F00; color : #fff}
.python{ background-color: #3776AB; color : #fff}

.git { background:#f1502f; color : #fff }
.github { background:#24292e; color : #fff }


.contact {
    margin : 0 10%;
    padding : 10% 0;
}

form {
    display : flex;
    flex-direction : column;
    align-items: end;
    gap : 2rem;
}
.form, .socials {
    width : 410px;
}

.form h3 {
    font-size: 1.7rem;
    margin : 1.5rem 0;
}


.container {
    display : flex;
    flex-wrap: wrap;
    gap : 15%;
    justify-content: center;
}

.socials ul {
    display : flex;
    justify-content: space-evenly;
}

.socials ul .underline {
    position : relative;
}

.socials ul .underline::after {
    position: absolute;
    height: 2px;
    background: black;
    
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.socials ul .underline:hover::after {
    width: 79%;       

}

.socials {
    align-self: end;
    padding-bottom : 3rem;
}

.socials h1 {
    margin-top : 2px;
    margin-bottom : 2px;
}

.personal-detail {
    margin-bottom : 1.8rem;
}


.field {
  position: relative;
  width: 400px;
}

.field input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  background-color : #ffffff00;
}

.field label {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 15px;
  color: #2f5782;
  pointer-events: none;
  transition: 0.3s;
}

/* Move placeholder when typing or on focus */
input[type="text"]:focus ~ label,
.field input:not(:placeholder-shown)
.field :not(:focus) ~ label {
  transform: translateY(-130%);
  font-size: 14px;
  color: #375e8b;
}

#textarea {
    height: 60px;          
    padding: 10px;          
    line-height: normal
}


.submit-btn button {
    padding : .2rem .2rem;
    font-size: 1.2rem;
    border : none;
    position : relative;
    background-color: #ffffff0d;
    border-radius : 2px;
}

.underline {
    color : #486c95;
}

.underline::after{
    content : "";
    position : absolute;
    background-color : #000;
    height : 2px;
    width : 0;
    bottom : 0;
    left : 0;
    border-radius: 10px;
    transition : width .5s ease;
}

.underline:hover::after {
    width : 100%;
}

