body {
    margin : 0;
    padding : 0;
    background-color : #e0e0e0;
    font-family : Roboto, sans-serif;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);

}

html {
    scroll-behavior: smooth;
}
li, a {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
}
a {
    color : black;
    transition: all .2s ease;

}

a:hover {
    transform: scale(1.2);


}
li {
    margin-right: 10px;
    margin-left : 20px;
    padding : 5px;
}

ul {
    padding : 0;
    margin : 0;
    align-content: center;
    

}

.logo-av {
    height : 50px;
    margin-left: 1rem;

}

.nav-option {
    font-size: 1rem;
    font-weight: 600;

}

.navdiv  i {
    font-size: 25px;
}



.navbar {
    display : flex;
    margin : 30px 10%;
    justify-content: space-between;
    border-radius : 80px;
    padding : 10px 10px;
    backdrop-filter :blur(12px);
    box-shadow: 0px 0px 30px rgba(98, 127, 166, 0.225);
    border: 2px solid rgba(255, 255, 255, 0.496);
     position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    z-index: 1000; /* stays above everything */
}

.navdiv {
    display : flex;
    gap : 10px;
}

.hero {
    margin : 10%;
    margin-top : 270px;

}

.heading {
    font-size: 60px;
}

.description {
    width : 60%;
    opacity : .5;
}

.hero button {
    line-height: 40px;
    border : none;
    color : white;
    background-color : black;
    border-radius: 10px;
    padding : 5px 25px;
    margin-top: 2rem;
    font-weight: bold;
    transition: all .2s ease;
    border: 2px solid black;
    box-shadow: 4px 4px 1px #49698e;
    position: relative;
    overflow: hidden;


}

.hero button::before {
    content : "";
    height : 160px;
    width : 200px;
    background-color : #accbee;
    position : absolute;
    top : -79px;
    left : 150px;
    transform: rotate(45deg);
    z-index: -1;
    transition: all .4s ease;
    border : 2px solid black;
}

.hero button:hover {
    box-shadow: none;
    transform: translate(4px ,4px);
    color : black;
    border: 2px solid black;

}
.hero button:hover::before {
    left : -40px;
}


span {
    color : #90a7c2;
    font-size: larger;
}

.home {
    border-bottom : 3px solid black;

}


.about-me {
    margin : 0 10% 10% ;
}

.about-heading {
    margin: 0px;

}
.scroll-section {
    height: 25vh;

}

.sub-heading {
    opacity: .6;
    font-weight: 300;
    margin-top : 0px;
    margin-bottom : 5rem;
}

.long-desc {
    margin-top : 2rem;
    opacity: .9;
    width : 70%;
}

#extra {
    opacity: 0;
}

code {
    font-size: 1rem;
}

.skills {
    margin : 0 20% 4rem 10%;

}

.skills-container {
    margin-top: -60px;
    background-color: #accbeea4;
    display : grid;
}



.skills-container {
    margin-top : 1rem;
    padding: 0 0 20px 20px;
    border : 3px solid #375981;
    border-radius: 10px;
}

.skills-container h2 {
    margin: 20px 0 15px;
    font-size: 30px;
    letter-spacing: 1px;
}

.badge-group {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 20px;
}

.badge {
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
    cursor: default;
    background: #1f2633;
    border: 1px solid transparent;
    transition: 0.3s;
}

.badge:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(255,255,255,0.15);
}

.js { background:#f7df1e; color:#000; }
.html { background:#e44d26; color : #fff}
.css { background:#264de4; color:#fff }
.bootstrap { background:#7952b3; color :#fff }

.c { background-color: #283593; color : #fff}
.cpp{ background-color: #00599C; color : #fff}
.java{ background-color: #E76F00; color : #fff}
.python{ background-color: #3776AB; color : #fff}

.git { background:#f1502f; color : #fff }
.github { background:#24292e; color : #fff }
